
$color-nav: black;
$color-icons: #009CFF;
$text-white: white;
$text-fucsia: #D45CAB;

$jumbo-margin-top: 30px;

@mixin rules-nav {
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-right: 15px;
}

.container {
    width: 80%;
    margin: auto;
    border: solid 1px red;
}

header{
    background-color: $color-nav;
    height: 100px;
    width: 100%;
    
    nav.top{        
        display: flex;
        justify-content: flex-end;
        color: $text-white;

        ul{
            @include rules-nav;
        }
        li{
            cursor: pointer;
        }
        
        li i{
            color: $color-icons;
            display: inline;
            margin-left: 40px;            
        }
    }

    nav.bottom{
        display: flex;
        justify-content: flex-start;
        color: $text-white;

         ul {
             @include rules-nav;
         }

         li {
             cursor: pointer;
              margin-right: 20px;
         }

         li i {
             color: $text-white;
             display: inline;
             margin-left: 10px;
         }
    }
}

main{
    width: 100%;

    .jumbotron{ 
        background-size: cover;
        height: 400px;

        img{
            height: 55px;
            margin-top: 40px;
        }

        h4{
            margin-top: $jumbo-margin-top;
        }
        p{
            color: $text-fucsia;
            font-style: italic;
            margin-top: $jumbo-margin-top;
        }

        .jumbo-button{
            margin-top: $jumbo-margin-top;

            button{
                padding: 1% 2%;
                margin-right: 10px;
            }

            .first-btn{
                background-color: black;
                color: $text-white;
            }
            .second-btn{
                background: inherit;
            }
        }
    }


    
}