
$color-nav: black;
$color-soft-blue: #009CFF;
$text-white: white;
$text-fucsia: #D45CAB;

$jumbo-margin-top: 30px;


@mixin rules-nav{
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-right: 15px;
    margin-top: 10px;
}

@mixin img-size{
    background-size: cover;
    height: 150px;
    margin-bottom: 30px;
}

.container {
    width: 80%;
    margin: auto;
    // border: solid 1px red;
}

header{
    background-color: $color-nav;
    height: 100px;
    width: 100%;
    
    nav.top{        
        display: flex;
        justify-content: flex-end;
        color: $text-white;

        ul{
            @include rules-nav;
        }
        li{
            cursor: pointer;
        }
        
        li i{
            color: $color-soft-blue;
            display: inline;
            margin-left: 40px;            
        }
    }

    nav.bottom{
        display: flex;
        justify-content: flex-start;
        color: $text-white;

         ul {
             @include rules-nav;
         }

         li {
             cursor: pointer;
              margin-right: 20px;
         }

         li i {
             color: $text-white;
             display: inline;
             margin-left: 10px;
         }
    }
}

main{
    width: 100%;

    .jumbotron{ 
        background-image: url('img/bg-painter-home.jpg');
        background-size: cover;
        height: 400px;
        display: flex;
        align-items: center;

        img{
            height: 55px;
        }

        h4{
            margin-top: $jumbo-margin-top;
        }
        p{
            color: $text-fucsia;
            font-style: italic;
            margin-top: $jumbo-margin-top;
        }

        .jumbo-button{
            margin-top: $jumbo-margin-top;

            button{
                padding: 1% 2%;
                margin-right: 10px;
            }

            .first-btn{
                background-color: black;
                color: $text-white;
            }
            .second-btn{
                background: inherit;
            }
        }
    }

    h3{
        text-align: center;
        margin-top: 50px;
    }

    .box{
        display: flex;
        justify-content: space-between;
    }

    .mini-box{
        margin-top: 30px;
        width: 30%;
        height: 320px;
        background-color: white;

        .img1{
            background-image: url('img/ptr-module.jpg');
             @include img-size;
        }
        .img2{
            background-image: url('img/particleshop-module.jpg');
             @include img-size;
        }
        .img3{
            background-image: url('img/brush-pack-module.jpg');
             @include img-size;
        }
    }


    .box-text{
        padding: 2%;

        .new{
            font-size: large;
            font-style: italic;
            color: $color-soft-blue;        
        }
        strong{
            color: $color-soft-blue
        }
    }

    



}